.subheader {
  max-width: 375px;
  max-height: 117px;
}

.subheader p {
  margin: 48px 16px;
  font-size: 16px;
}

.recommended {
  max-width: 375px;
  max-height: 132px;
}

#recommended-header {
  font-weight: 700;
  font-size: 14px;
  margin-left: 16px;
}

ul {
  line-height: 16px;
}

ul li {
  font-size: 14px;
}

li:nth-child(2) {
  margin-bottom: 40px;
}

.border {
  border: none;
  height: 1px;
  color: #e0e0e0;
  background-color: #e0e0e0;
}

.blankspace {
  max-width: 375px;
  background-color: #f3f3f3;
}

.inputboxes {
  text-align: center;
}

.inputboxes h1 {
  margin-top: 25px;
  font-weight: 700;
  font-size: 14px;
}

.inputtypes {
  margin-top: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  max-width: 375px;
  max-height: 179px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
