*{
    box-sizing: border-box;
}

.invite_heading {
    max-width: 375px;
    max-height: 812px;
}


.invite_heading h3 {
    font-size: 13px;
    text-align: center;
    font-weight: 700;
}


.send_code {
    max-width: 375px;
    max-height: 812px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.send_code p:first-child {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #494949;

}

.send_code p:nth-child(2) {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    border: 1.5px dashed #ccc;
    width: 314px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;

}

.send_code Button {
    margin: 30px;
}

.refer_img{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 375px;
    max-height: 812px;
}